@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

.toggle-dropdown {
    cursor: pointer;
    width: 25px;
    height: 20px;
    display: flex;
    align-self: center;
    background-color: transparent;
    border: 0;
    transform: rotate(0deg);
    position: relative;

    & span {
        transition-property: transform, top, width, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        display: block;
        position: absolute;
        border-radius: 9px;
        left: 0;
        height: 3px;
        width: 100%;
        @apply bg-black;
        transform-origin: left center;
    }
    & span:nth-child(1) {
        top: 0;
    }
    & span:nth-child(2) {
        top: 50%;
    }
    & span:nth-child(3) {
        top: 100%;
    }
    &.open span:nth-child(1) {
        transform: rotate(45deg);
    }
    &.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 90%;
    }
}
